<!--
显示学生详细信息
-->

<div class="detail">
	<table>
		<tr>
			<td>姓　　名：</td>
			<td><?php echo $name;?></td>
		</tr>

		<tr>
			<td>个性标签:</td>
			<td class="labels">
			    <!--遍历学生个性标签并展示-->
				<?php
					foreach($labels as $v){
						//定义数组保存标签块展示颜色
						$class_name = array('blue','red','yellow','green');
						$index = array_rand($class_name);
						echo '<span class="'.$class_name[$index].'">'.$v.'</span>';
					}
				?>
			 </td>
		</tr>

	</table>
</div>
<div class="return"><a href="index.php?page=<?php echo $page; ?>">&lt;&lt; 返回列表</a></div>