.ku-table {
  border-collapse: collapse;
  border: solid #DADADA 1px;
  background-color: #fff;
  text-align: center;
}
.ku-table tr,
.ku-table td {
  border: solid #DADADA 1px;
  padding: 10px;
}
.ku-ball-red {
  display: block;
  background: black;
  border-radius: 50%;
  height: 40px;
  line-height: 38px;
  width: 40px;
  margin: 20px 5px;
  float: left;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
  background: -webkit-radial-gradient(10px 10px, circle, #ff0000, #000000);
  background: -moz-radial-gradient(10px 10px, circle, #ff0000, #000000);
  background: -ms-radial-gradient(10px 10px, circle, #ff0000, #000000);
  background: radial-gradient(10px 10px, circle, #ff0000, #000000);
}
.ku-ball-blue {
  display: block;
  background: black;
  border-radius: 50%;
  height: 40px;
  line-height: 38px;
  width: 40px;
  margin: 20px 5px;
  float: left;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
  background: -webkit-radial-gradient(10px 10px, circle, #0000ff, #000000);
  background: -moz-radial-gradient(10px 10px, circle, #0000ff, #000000);
  background: -ms-radial-gradient(10px 10px, circle, #0000ff, #000000);
  background: radial-gradient(10px 10px, circle, #0000ff, #000000);
}
